/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

/* Body */
body {
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: #fff;

}

/* Navbar */
.navbar-dark .navbar-brand .navbar-brand-text {
    text-decoration: underline;
    font-size: 1.5rem;
}

.nav-link {
    text-align: center;
}

.nav-link:hover {
    transition: 0.5s;
    background-color: #d0ab5c;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #d0ab5c;
    ;
}

/* Jumbotron */
.jumbotron {
    height: 80vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url('https://images.unsplash.com/photo-1599579134411-bd068f77d4d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* Colors */

.bg--color--blue {
    background-color: #222E50;
}

.text--color--white {
    color: #fff;
}

/* Utility */